frontend/node_modules
chatbot/node_modules
backend/HELP.md
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
backend/!**/src/main/**/target/
backend/!**/src/test/**/target/
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache
backend/nbproject/private/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/
backend/build/
backend/!**/src/main/**/build/
backend/!**/src/test/**/build/
2201009_BTechPresentation.pptx
backend/src/main/resources/application-dev.properties
backend/src/main/resources/google-credentials.json
chatbot/.env
chatbot/google-credentials.json
WindowsSetup.txt
2201009_endsem_report.pdf